<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" parallaxHeader="https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950" [parallaxHeight]="300">
	<div class="main-content">
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
	</div>
</ion-content>
